<header class="ng-blog-header">
  <div nz-row>
    <div nz-col nzSpan="8">
      <nz-date-picker
        [(ngModel)]="date"
        nzPlaceHolder=""
        [nzAllowClear]="false"
      ></nz-date-picker>
    </div>
    <div
      nz-col
      nzSpan="12"
      nzOffset="4"
      class="ng-blog-header__right ng-blog-flex ng-blog-flex--j-right"
    >
      <app-search
        class="ng-blog-flex ng-blog-flex--a-center ng-blog-flex--j-center"
      ></app-search>
      <a
        href="https://github.com/liuyongjin"
        target="_blank"
        class="ng-blog-header__github"
      >
        <span nz-icon nzType="github" nzTheme="outline"></span>
      </a>
      <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
        <i nz-icon nzType="global" nzTheme="outline"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li
            nz-menu-item
            [nzSelected]="currentLang === 'zh_CN'"
            role="none"
            (click)="selectLanguage('zh_CN')"
          >
            <span>中文</span>
          </li>
          <li
            nz-menu-item
            [nzSelected]="currentLang === 'en_US'"
            role="none"
            (click)="selectLanguage('en_US')"
          >
            <span>English</span>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</header>
