<div class="ng-blog-tag">
  <div class="ng-blog-tag__items">
    <div class="ng-blog-tag__item" *ngFor="let item of tags">
      <h3>
        <i nz-icon nzType="tags" nzTheme="outline"></i>&nbsp;&nbsp;
        {{ item.name }}
      </h3>
      <ul>
        <li *ngFor="let a of item['articles']">
          <a [routerLink]="['/pages/content/detail', a.id]">
            <span>{{ a.create_time | format }}</span>
            &nbsp;&nbsp;
            <span>{{ a["title"] }}</span>
            &nbsp;&nbsp;
            <i nz-icon nzType="read" nzTheme="outline"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <app-drawer [tag]="tags" (selectTag)="selectTagHandle($event)"></app-drawer>
</div>
