<div
  class="ng-blog-search ng-blog-flex ng-blog-flex--a-center ng-blog-flex--j-center"
>
  <ng-template #prefixTemplate>
    <i
      class="ng-blog-search__search-icon"
      nz-icon
      nzType="search"
      nzTheme="outline"
    ></i>
  </ng-template>
  <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplate">
    <input
      type="text"
      nz-input
      [(ngModel)]="searchValue"
      (input)="onInput($event)"
      [nzAutocomplete]="auto"
      [placeholder]="'SEARCH_ARTICLE' | translate"
    />
    <nz-autocomplete nzBackfill #auto>
      <a
        *ngFor="let option of article"
        [routerLink]="['/pages/content/detail', option.id]"
      >
        <nz-auto-option [nzValue]="option.title">
          {{ option.title }}
        </nz-auto-option>
      </a>
    </nz-autocomplete>
  </nz-input-group>
  <ng-template #suffixTemplate>
    <span
      class="ng-blog-search__close-icon"
      nz-icon
      nz-tooltip
      nzTheme="fill"
      nzType="close-circle"
      nzTheme="outline"
      *ngIf="searchValue"
      (click)="searchValue = ''"
    ></span>
  </ng-template>
</div>
